* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    color: #FFC300;
    background-image: url('/static/images/menu.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1 {
    font-size: 3rem;
    margin-bottom: 200px;

}


nav {
    background-color: rgba(0, 0, 0, 1);
    padding: 15px 10px;
    border-radius: 10px;
    margin-left:200px;
}

nav ul {
    list-style-type: none;

}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;

}

nav ul li a:hover {
    color: #ffcc00;
}
